{% extends 'base/base.html' %}


{% block content %}

{% if form.errors %}
{% for field in form %}
{% for error in field.errors %}
<div class="alert alert-danger">
    <strong>{{ error|escape }}</strong>
</div>
{% endfor %}
{% endfor %}

{% for error in form.non_field_errors %}
<div class="alert alert-danger">
    <strong>{{ error|escape }}</strong>
</div>
{% endfor %}
{% endif %}

<h1>
    Registrar Mascota
</h1>

<form method="POST">
    {% csrf_token %}
    <h3>¿Desea eliminar el registro de {{mascota.nombre }} ?</h3>
    
    <button type="submit" class="btn btn-danger">Si, Eliminar </button>
    <a class="btn btn-default" href="{% url 'mascota:mascota_listar' %}">Cancelar</a>
</form>

{% endblock content %}