<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="navbar-expand m-auto navbar-text">
        <div class="row">
            <div class="col-md-12 text-center">
                <p>
                    Fiscalía General de Justicia del Estado de Sonora.
                    <br> Edificio Fiscalía: Domicilio en Calle Pedro Moreno #49 esq. Manuel Z. Cubillas. Col. Las
                    Palmas, C.P.
                    83260. Teléfono:
                    (662) 108-16-20.
                    <br> Edificio Administrativo: Domicilio en Calle Rosales y Paseo del Canal. Col. Centro, C.P. 83000.
                    Teléfono:
                    (662)
                    259-48-00.
                    <br> Hermosillo, Sonora.
                    <a href="http://fiscalia.sonora.gob.mx"
                        title="Fiscalía General de Justicia del Estado de Sonora">www.fiscalia.sonora.gob.mx</a>
                    <p>
                        <small>© {{year}} FGJE. Todos los derechos reservados</small>
                    </p>
                </span>
            </div>
        </div>
    </div>
</nav>